<div class="container mt-4">
  <div class="chat-container border rounded shadow-sm bg-light p-3 d-flex flex-column h-100">
    <div class="chat-container border rounded bg-light p-3" style="height: 400px; overflow-y: scroll;">
      <% @messages.each do |message| %>
        <% is_user = message.role == "user" %>

        <div class="d-flex <%= is_user ? 'justify-content-end' : 'justify-content-start' %> mb-3">
          <div class="message-box p-3 shadow-sm rounded-3 <%= is_user ? 'bg-secondary text-white' : 'bg-white text-dark border' %>"
              style="max-width: 75%;">

            <div class="small fw-bold mb-1">
              <%= is_user ? "You" : "TMW" %>
            </div>

            <%# Edit message form %>
            <% if params[:edit_message_id].to_i == message.id %>
              <%= simple_form_for [@chat, message] do |f| %>
                <%= f.input :content, label: false %>
                <%= f.button :submit, "Save", class: "btn btn-outline-light btn-sm" %>
                <%= link_to "Cancel", chat_path(@chat), class: "btn btn-light btn-sm" %>
              <% end %>
            <% else %>
              <div class="message-content">
                <%= simple_format(message.content) %>

                <% if message.image_url.present? %>
                  <div class="mt-2">
                    <%= image_tag message.image_url, class: "img-fluid rounded shadow-sm" %>
                  </div>
                <% end %>
              </div>
            <% end %>

            <div class="text-end mt-1" style="font-size: 0.75rem; opacity: 0.8;">
              <%= message.created_at.strftime("%H:%M") %>
              <% if is_user  %>
                <%= link_to 'Edit', chat_path(@chat, edit_message_id: message.id), class: "btn btn-outline-light btn-sm" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="input-area mt-auto">
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, placeholder: "Tell me..." %>
        <%= f.input :role, as: :hidden, input_html: { value: 'user' } %>

        <%= f.button :submit, class: "btn btn-secondary px-4", id: "send-btn" do %>
          <span id="btn-text">Send</span>
          <span id="btn-spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('form');
    const btnText = document.getElementById('btn-text');
    const btnSpinner = document.getElementById('btn-spinner');

    form.addEventListener('submit', () => {
      btnText.classList.add('d-none');
      btnSpinner.classList.remove('d-none');
    });
  });
</script>
