<div class="container mt-4">
  <h1><%= @chat.question %></h1>
  <div class="chat-container border rounded shadow-sm bg-light p-3 d-flex flex-column h-100">
    <div class="chat-container border rounded bg-light p-3" style="height: 400px; overflow-y: scroll;" id="chat-scroll-container">
      <div class="d-flex justify-content-end mb-3">

      </div>
        <% @messages.each do |message| %>
          <% if message.role == "user" %>
            <div class="d-flex justify-content-end mb-3">
              <div class="message-box p-3 shadow-sm rounded-3 bg-secondary text-white" style="max-width: 75%;">
                <div class="small fw-bold mb-1">You</div>
                <div class="message-content"><%= message.content %></div>
                <div class="text-end mt-1" style="font-size: 0.75rem; opacity: 0.8;">
                  <%= message.created_at.strftime("%H:%M") %>
                </div>
              </div>
            </div>
          <% elsif message.role == "TMW" %>
            <div class="d-flex justify-content-start mb-3">
              <div class="message-box p-3 shadow-sm rounded-3 bg-white text-dark border" style="max-width: 75%;">
                <div class="small fw-bold mb-1">TMW</div>

                <%# AI ANSWER STARTS HERE %>
                <% payload = JSON.parse(message.content) %>
                
                <%# DESCRIPTION %>
                <% if payload["message_type"] == "description" %>
                  <div class="message-content">


                    <% if payload.dig("artist", "image_url").present? %>
                      <img src="<%= payload.dig("artist", "image_url") %>" alt="<%= payload.dig("artist", "name") %>">
                    <% end %>


                  <h1><%= payload.dig("artist", "name") %></h1> <br>
                  <%= payload.dig("artist", "located") %> <br>
                  <% if payload.dig("artist", "genres").present? %>
                    <ul>
                      <% payload.dig("artist", "genres").each do |genre| %>
                        <li><%= genre %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <%= payload["message"] %>

                    <% if payload["device"].present? %>
                      <% payload["device"].each do |item| %>
                        <li>
                          <% if item["image_url"].present? %>
                            <img src="<%= item["image_url"] %>" alt="<%= item["name"] %>"> <br>
                          <% end %>
                          <strong><%= item["name"] %></strong> <br>
                          <%= item["description"] %> <br>
                          <%= item["price"] %> <br>
                          Confidence: <%= item["confidence"] %>
                        </li>
                      <% end %>
                    <% end %>
                  </div>

                  <%# CARDS %>
            <% elsif payload["message_type"] == "cards" %>

                  <% if payload.dig("artist", "image_url").present? %>
                      <img src="<%= payload.dig("artist", "image_url") %>" alt="<%= payload.dig("artist", "name") %>">
                    <% end %>


                  <h1><%= payload.dig("artist", "name") %></h1> <br>
                  <%= payload.dig("artist", "located") %> <br>
                  <% if payload.dig("artist", "genres").present? %>
                    <ul>
                      <% payload.dig("artist", "genres").each do |genre| %>
                        <li><%= genre %></li>
                      <% end %>
                    </ul>
                  <% end %>
                  <%= payload["message"] %>
                  <ul>
                    <% payload["device"].each do |item| %>
                      <li>
                        <strong><%= item["name"] %></strong> <br>
                        <% if item["image_url"].present? %>
                          <img src="<%= item["image_url"] %>" alt="<%= item["name"] %>"> <br>
                        <% end %>
                        <%= item["description"] %> <br>
                        <%= item["price"] %> <br>
                        Confidence: <%= item["confidence"] %>
                      </li>
                    <% end %>
                  </ul>
              <%# CARDS_FOCUSED %>
          <% elsif payload["message_type"] == "cards_focused" %>
              <%= payload["message"] %>
              <ul>
                <% payload["device"]&.each do |item| %>
                  <li>
                    <strong><%= item["name"] %></strong><br>
                    <% if item["image_url"] %>
                      <img src="<%= item["image_url"] %>" alt="<%= item["name"] %>"> <br>
                    <% end %>
                    <%= item["description"] %><br>
                    <%= item["price"] %><br>
                    Confidence: <%= item["confidence"] %>
                  </li>
                <% end %>
              </ul>
            <% end %>
                <div class="text-end mt-1" style="font-size: 0.75rem; opacity: 0.8;">
                  <%= message.created_at.strftime("%H:%M") %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
    <div class="input-area mt-auto">
      <%= simple_form_for [@chat, @message] do |f| %>
        <%= f.input :content, placeholder: "Tell me..." %>
        <%= f.input :role, as: :hidden, input_html: { value: 'user' } %>

        <%= f.button :submit, "Send", class: "btn btn-secondary px-4" %>
      <% end %>
    </div>
  </div>
</div>
