<div class="d-flex flex-column align-items-center">
  <h2 class="fs-3">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <p><%= f.label :email, class: "form-label my-0" %></p>
      <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></p>
    </div>

    <div class="field">
      <p><%= f.label :password, class: "form-label my-0" %></p>
      <p><%= f.password_field :password, autocomplete: "current-password", class: "form-control" %></p>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <p class="my-0"><%= f.check_box :remember_me %></p>
        <p><%= f.label :remember_me %></p>
      </div>
    <% end %>

    <div class="actions d-flex flex-column align-items-center">
      <%= f.submit "Log in", class: "btn btn-dark btn-lg my-2" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
